---
---

@import "minima"; 

#toc {
  position: sticky;
  top: 5px;
  width: 300px;
  height: 95vh;
  overflow-y: auto;
  padding: 10px;
  border-right: 1px solid #ccc;
}

main .wrapper .home {
  display: flex;
  flex-direction: row;
}

#content {
  padding: 10px;
  flex: 1;
}


div.wrapper {
  padding: 10px;
  padding-top: 0;
  max-width: calc(1280px - (30px * 2));
}
